header h1 {
	font-family: 'Archivo Narrow', sans-serif;
	padding-top: 113px;
	font-size: 80px;
	font-weight: bold;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	color: white;
}

header h2 {
	font-family: 'Archivo Narrow', sans-serif;
	text-align: center;
	font-size: 30px;
	margin-top: 13px;
	color: white;
}

header {
	height: 430px;
	background-image: url("images/winterfell.jpg");
	background-size: cover;
	background-position: center;
	padding-top: 50px;
}

.section1 img {
	float: right;
	margin-right: 1px;
	margin-left: 40px;
	margin-top: 30px;
	margin-bottom: 20px;
	height: 300px;
	width: 400px;

}

.interior {
	padding-top: 10px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 961px;
	font-weight: bold;
	font-size: 18px;
}

section h1 {
	font-family: 'Archivo Narrow', sans-serif;
	text-align: center;
	font-size: 40px;
	margin-bottom: 38px;
	letter-spacing: 0.75px;
}


.section1 {
	font-family: 'Archivo Narrow', sans-serif;
	line-height: 25px;
	height: 715px;
	background-color: #2D4049;
	color: #D8E9F0;
}

.section1 h1 {
	margin-top: 44px;
	font-size: 38px;
}

.firstp {
	padding-top: 8px; 
	font-weight: normal;
}

.secondp {
	margin-bottom: 0px;
	padding-bottom: 0px;
	font-weight: normal;
}

.lastp {
	margin-top: 14px;
	padding-top: 0px;
	font-weight: normal;
}

.object {
	font-family: 'Archivo Narrow', sans-serif;
	display: inline-block;
	width: 450px;
	height: 150px;
	margin-bottom: 24px;
	line-height: 25px;
	margin-right: 26px;

}

.object img {
	float: left;
	margin-right: 12px;
	width: 200px;
	height: 150px;
	vertical-align: top;
}

.section2 h1 {
	font-size: 38px;
	margin-top: 34px;
	margin-bottom: 38px;
}

.section2 h2 {
	font-size: 18.5px;
	letter-spacing: 0.75px;
	font-weight: bold;
	margin-top: 2px;
	margin-bottom: 7px;

}

.section2 p {
	margin-top: 0px;
	font-weight: normal;
}


.section2 {
	height: 685px;
	background-color: #87ADBA;
}

.section3 h1 {
	margin-top: 2px;
	font-size: 38px;
	/*letter-spacing: 1.1px;*/
}

.section3 p {
	font-family: 'Archivo Narrow', sans-serif;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 710px;
	font-size: 25px;
	font-weight: 500;
	line-height: 35px;
}

.section3 {
	padding-top: 45px;
	height: 355px;
	background-color: #E0EDF3;
}

.section4 p {
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 18px;
	margin-top: 35px;
	display: block;
	width: 960px;
	font-weight: normal;
	line-height: 35px;
	margin-left: auto;
	margin-right: auto;
}

.section4 {
	background-color: white;
}






