body {
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;
}

h6 {
	color: grey;
	margin-bottom: 0.5em;
}

h2 {
	color: grey;
	font-weight: bold;
}

#tdn {
	text-decoration: none;
}

#tdu {text-decoration: underline;
}

#tuli{text-decoration: line-through;

}
#tuo {
	text-decoration: overline;
}


#ttn{
	text-transform: none;
}
#ttu{
	text-transform: uppercase;
}
#ttl{
	text-transform: lowercase;
}
#ttc {
	text-transform: capitalize;
}


#lsn {
	letter-spacing: normal;
}
#ls3 {
	letter-spacing: .3em;

}
#ls6 {
	letter-spacing: -0.06em;
}



#fsn {
	font-style: normal;
}
#fsi {
	font-style: italic;
}



#fwn {
	font-weight: normal;
}
#fwb {
	font-weight: bold;
}










